# Ignore build files and directories
build/

# Ignore temporary files
.DS_Store

# Ignore executable files
*.exe
*.out

# Ignore IDE-related files and directories
.vscode/
.idea/

lab_3/
lab_4/
lab_5/
lab_6/
lab_7/
lab_1/
googletest/
